/* @font-face {
    font-family: "Poppins";
    src: url('../../public/fonts/Poppins.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    src: local('../../public/fonts/Poppins.ttf');
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    text-decoration: none !important;
}

.truncate-mod{
    width: 100%;
    -webkit-line-clamp: 2 !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    white-space: wrap;
}

.truncate-desc{
    width: 100%;
    -webkit-line-clamp: 3 !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    white-space: wrap;
}

 .od_list {
   list-style: none;
   counter-reset: item;
 }